@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap');

body {
    background-color: rgb(45, 45, 73);
    margin-left: 150px;
    margin-right: 150px;
    font-family: "Roboto", sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: white;
    font-weight: 900;
}

ul {
    list-style: none;
    display: flex;
    gap: 24px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}